@import "tailwindcss";
@config "../tailwind.config.js";


@theme {

  /* --color-*: initial; */
  --color-primary: red;
  --color-buttonColor: green;

  --text-headLarge: 50px;
  /* --text-xl: 50px; */


  /* --breakpoint-sm: 500px; */

  --animate-myAni: ani 2s ease-in infinite;

  --my-grid: repeat(auto-fit, minmax(250px, 1fr));




  @keyframes ani {
    10% {
      background-color: red;
    }

    50% {
      background-color: purple;
    }

    100% {
      background-color: brown;
    }
  }


}


/* base layer , component layer utitlities */

@layer base {

  h1 {
    @apply text-xl font-bold;
  }


  p {}

  button {
    @apply cursor-pointer;
  }

}

@layer components {



  .btn {
    @apply bg-black px-5 text-white rounded-2xl py-3 ring-2 ring-purple-500;
  }

  .card {
    @apply border-2 my-2 p-5 shadow-2xl;
  }
}


@utility flex-center {
  @apply flex justify-center items-center;
}