@import "tailwindcss";

@theme {
  /* --color-*: initial; */
  --color-primary: red;
  --color-buttonColor: green;

  --text-headLarge: 50px;
  /* --text-xl: 50px; */

  --animate-myAni: ani 2s ease-in infinite;
  --my-grid: repeat(auto-fit, minmax(400px, 1fr));
  /* grid grid-cols-(--my-grid) use this in className */
  --breakpoint-sm: 500px;
  @keyframes ani {
    10% {
      background-color: red;
    }

    50% {
      background-color: purple;
    }

    100% {
      background-color: brown;
    }
  }
}

/* base layer , component layer utitlities */

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }
}

.cls {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/////////////////////////////////////////////////////////////////////////////
/* 
.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

@keyframes disappearAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-disappear-appear {
  animation: disappearAppear 0.5s ease-in-out;
} */
